<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
</head>
 <body>
<div id = "app">
  <div class = "inputSection">
    <div class ="headline">
      Your Travel Trip
    </div>
    <div class ="holder zip">
      <label for="zip" class= "label zipcode">Enter City here</label>
      <input type="text" id="zip" placeholder="enter City here">
    </div>
    <div class ="holder date">
      <label for="startDate" class= "label startdate"> When would you like to go there?</label>
      <input type="date" id = "startDate" placeholder="2020-04-11"
      min="2020-04-11" max="2020-12-31" value = "">
      <button id="generate" type = "submit"> Save the Trip </button>
    </div>
  </div>
  <div class ="tripSection">
    <div class = "title">My Trips </div>
   <div id = "travelcards">


  </div>
  </div>
  </div>


<script>
  // Check that service workers are supported
  if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
      });
  }
</script>

</body>
</html>
